*{
    padding: 0px;;
    margin: 0px;
    box-sizing: border-box;
    
}

body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    background: linear-gradient(to bottom, #030637, #7a5f4a);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h2{
    color: white;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

div.first-part{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

div.first-part button, div.love button{
    background-color: green;
    width: 70px;
    border: none;
    color: white;
    height: 30px;
}

div.love button{
    background-color: rgba(255, 0, 0, 0.61);
}

div.first-part input{
   padding-left: 5px;
   height: 30px;
   flex-basis: 100px;
}

div.first-part input.one{
   flex-grow: 1;
   max-width: 100%;      
}

div.first-part input.two{
    flex-grow: 1;
}

div.first-part button{
    flex-grow: 1;
}

div.second-part{
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
}

div.love{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom: 2px;
    background-color: #720455;
    flex-wrap: wrap;
}

div.love button:hover{
    background-color: rgba(255, 0, 0, 0.282);
}


@media screen and (max-width: 600px) {
    div.love p{
        flex-basis: 50%;
    }
    
    div.love button{
        flex-basis: 100%;
        margin-right: 5px;
        
    }
    
  }
